<mat-toolbar class="toolbar">
  <header class="header">
    <div class="container">
      <div class="header-controls" *ngIf="(showControl$ | async)">

        <button
          mat-flat-button
          (click)="updateForm()"
        >
          <span>Обновить форму</span>
        </button>

        <button
          mat-flat-button
          (click)="updateData()"
          [disabled]="!(canUpdate$ | async)"
        >
          <span>Обновить данные</span>
        </button>

      </div>
    </div>
  </header>
</mat-toolbar>
