@import "vars";

.toolbar {
  justify-content: stretch;
}

.header {
  width: 100%;

  &-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    button {
      &:not(:first-child) {
        margin-left: $gutter;
      }
    }
  }

  .spacer {
    flex: 1;
  }
}
