<form class="form" #f="ngForm">
  <div class="form-content" *ngIf="form">
    <div class="form-row" *ngFor="let row of form.rows">

      <div class="form-input" *ngFor="let input of row.inputs">
        <ng-container *ngIf="input.type === 'checkbox'; else defaultInput">
          <mat-checkbox
            [(ngModel)]="form.controls[input.ID].value"
            [name]="input.ID"
            color="primary"
            [required]="input.required"
          >
            {{input.label}}
          </mat-checkbox>
        </ng-container>

        <ng-template #defaultInput>
          <mat-form-field class="form-field">
            <mat-label *ngIf="input.label">
              {{input.label}}
            </mat-label>

            <input
              matInput
              type="text"
              [(ngModel)]="form.controls[input.ID].value"
              [name]="input.ID"
              [placeholder]="input.placeholder || ''"
              [required]="input.required"
              [id]="input.ID"
            >
          </mat-form-field>
        </ng-template>
      </div>

    </div>

    <div class="form-action">
      <button
        mat-flat-button
        color="primary"
        (click)="sendData()"
        [disabled]="f.invalid"
      >
        <span>Отправить</span>
      </button>
    </div>

  </div>
</form>
