<form class="form" #f="ngForm">
  <div class="form-content" *ngIf="form">
    <div class="form-row" *ngFor="let row of form.rows">

      <div class="form-input" *ngFor="let input of row.inputs">
        <app-input
          [control]="input"
          [(ngModel)]="input.value"
          [name]="input.ID"
          [required]="input.required">
        </app-input>
      </div>

    </div>

    <div class="form-action">

      <button
        mat-flat-button
        color="primary"
        (click)="sendData()"
        [disabled]="f.invalid"
      >
        <span>Отправить</span>
      </button>
    </div>

  </div>
</form>
