<div class="form">
  <div class="form-content" *ngIf="form">
    <div class="form-row" *ngFor="let row of form.rows">

      <div class="form-input" *ngFor="let input of row.inputs">
        <ng-container *ngIf="input.inputType === 'boolean'; else defaultInput">
          <mat-checkbox [(ngModel)]="form.controls[input.ID]" color="primary">
            {{input.text}}
          </mat-checkbox>
        </ng-container>

        <ng-template #defaultInput>
          <mat-form-field class="form-field">
            <mat-label *ngIf="input.text">
              {{input.text}}
            </mat-label>

            <input
              matInput
              type="text"
              [(ngModel)]="form.controls[input.ID]"
              [placeholder]="input.placeholder || ''"
              [required]="input.required"
              [id]="input.ID"
            >
          </mat-form-field>
        </ng-template>
      </div>

    </div>
  </div>
</div>
