<div class="login">
  <form class="login-form" #f="ngForm">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input type="email" matInput placeholder="Ivan" [(ngModel)]="formData.login" #name="ngModel" name="name" required autocomplete="off">
      <mat-error>
        <span>Required field</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="****" [(ngModel)]="formData.password" name="password" required>
      <mat-error>Required field</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary">Send</button>
  </form>
</div>
