<div class="login">
  <form class="login-form" #f="ngForm">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input type="email" matInput placeholder="Ivan" [(ngModel)]="formData.name" #nameInput="ngModel" name="name" required autocomplete="off">
      <mat-error>
        <span *ngIf="nameInput.control.errors?.required">Required field</span>
        <span *ngIf="nameInput.control.errors?.invalidLogin">Invalid login or password</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="****" [(ngModel)]="formData.password" name="password" required>
      <mat-error>Required field</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="login(f)">Send</button>
  </form>
</div>
